/*
	Museca font immitated by @shiftpsh
	Available on http://shiftpsh.com/220600997910
*/

@font-face {
	font-family: 'MUSECA';
	src:	url('../font/museca.eot?#iefix') format('embedded-opentype'),
			url('../font/museca.woff') format('woff'),
			url('../font/museca.ttf') format('truetype'),
			url('../font/museca.svg#MUSECA') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
	Glegoo font by Eduardo Tunni
	Available on https://fonts.google.com/specimen/Glegoo
*/
@font-face {
	font-family: 'Glegoo';
	src:	url('../font/glegoo.eot?#iefix') format('embedded-opentype'),
			url('../font/glegoo.woff') format('woff'),
			url('../font/glegoo.ttf') format('truetype'),
			url('../font/glegoo.svg#Glegoo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
	Megrim font by Daniel Johnson
	Available on https://fonts.google.com/specimen/Megrim
*/
@font-face {
	font-family: 'Megrim';
	src:	url('../font/megrim.eot?#iefix') format('embedded-opentype'),
			url('../font/megrim.woff') format('woff'),
			url('../font/megrim.woff2') format('woff2'),
			url('../font/megrim.ttf') format('truetype'),
			url('../font/megrim.svg#Megrim') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html {
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	margin: 100px auto;
	padding: 18px 0;
	max-width: 300px;
	height: 6px;
	background: url(/img/diagonal.png) repeat-x 0 center;
	color: #333;
	text-align: center;
}

hr:after {
	content: "◇";
	display: inline-block;
	position: relative;
	color: #fff;
	top: -0.5em;
	font-size: 1.5em;
	padding: 0 0.25em;
	transform: rotate(-15deg);
}

.background {
	background: rgba(0, 0, 0, 0.7);
	height: 100vh;
	z-index: 2;
}

.developer {
	position: fixed;
	bottom: 10px;
	right: 30px;
	color: #fff;
}

.developer a {
	color: #fff;
}

.logo-view {
	width: 50%;
	margin: 0 auto;
	display: block;
}

.messagebox {
	font-family: 'Nanum Barun Gothic';
	max-width: 400px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

.messagebox h3 {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
}

.auth-link {
	font-family: monospace;
	font-size: 20px;
	background: #555;
	border-radius: 7px;
	margin-top: 3px;
}

.stage-indicator {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 0;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-duration: 500ms;
}

.stage-header {
	color: #fff;
	font-family: MUSECA, sans-serif;
	font-size: 100px;
	text-align: center;
	margin-top: 20%;
}

.stage-desc {
	color: #fff;
	font-family: Glegoo, 'Nanum Barun Gothic', serif;
	text-align: center;
}

.score-inner {
	display: table-cell;
	vertical-align: middle;
}

.score-input {
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	display: table;
	opacity: 0;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-duration: 500ms;
	text-align: center;
}

.score-input h1 {
	font-family: 'Nanum Barun Gothic', sans-serif;
	color: #fff;
}

.score-input input {
	border: 0;
	padding: 10px;
	border-bottom: 4px solid #00C0A0;
}

.score-input input[maxlength="2"], .score-input input[maxlength="1"] {
	width: 50px;
}

.score-input input[maxlength="5"] {
	width: 100px;
}

.score-input button {
	background: #e0e0e0;
	display: inline-block;
	border: none;
	padding: 12px 40px;
	border-radius: 10px;
	box-sizing: content-box;
	color: #303030;
	vertical-align: top;
}

#playground {
	z-index: -1;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
