<!DOCTYPE html>
<html>
	<head>
		<%- include('header', {title: 'radical.index'}) %>
		<link rel="stylesheet" href="/css/mobile.css">
	</head>
	<body>
		<section class="controller-section">
		</section>

		<section class="default-main">
			<header>
				<h2>Radical</h2>
			</header>
		</section>

		<script src="/js/radical-mobile.bundle.js"></script>
	</body>
</html>
