<!DOCTYPE html>
<html>
	<head>
		<%- include('header', {title: 'radical.index'}) %>
		<link rel="stylesheet" href="/NanumBarunGothic/nanumbarungothic.css"></script>
		<link rel="stylesheet" href="/css/index.css"></script>
	</head>
	<body>
		<canvas style="position: fixed; top: 0; left: 0; width: 100vw" id="playground"></canvas>

		<section class="index-view">
			<div class="background">
				<object data="/img/logo.svg" type="image/svg+xml" class="logo-view">
					<h1>RADICAL</h1>
				</object>

				<!-- <p class="fullscreen messagebox">
					여기를 터치해서 전체화면으로 즐기실 수 있습니다.
				</p> -->

				<div class="messagebox">
					<h3>모바일과의 연동을 진행해주세요!</h3>
					자신의 스마트폰에서 아래의 링크를 입력하시면 됩니다.
					<div class="auth-link">
					</div>
				</div>

				<p class="developer">
					Developed by <a href="/developer">@Khinenw</a>
				</p>
			</div>
		</section>

		<section class="stage-indicator">
			<header class="stage-header">
				STAGE 1
			</header>

			<hr>
			
			<div class="stage-desc">
				This is a piece of cake.
			</div>
		</section>

		<section class="score-input">
			<div class="score-inner">
				<h1>당신의 이름을 입력하여 주세요!</h1>
				<form onsubmit="return false;">
					<input type="number" class="score-grade" placeholder="학년" maxlength="1" required>
					<input type="number" class="score-class" placeholder="반" maxlength="2" required>
					<input type="text" class="score-name" placeholder="이름" maxlength="5" required>
					<button type="submit" class="score-submit">
						등록
					</button>
				</form>
			</div>
		</section>
		<script src="/js/radical-desktop.bundle.js"></script>
	</body>
</html>
