<!DOCTYPE html>
<html>
	<head>
		<%- include('header', {title: 'radical.index'}) %>
	</head>
	<body>
		<section class="controller-section">
		</section>

		<section class="default-main">
			<header>
				<h2>Radical</h2>
			</header>
		</section>
	</body>
</html>
