<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<button type="button" id="funny-thing" style="position: fixed; right: 1rem; bottom: 1rem; z-index: 2">Click!</button>
		<canvas style="position: fixed; width: 100vw; height: 100vh; top: 0; left: 0;"></canvas>
		<script src="/resources/js/radical.js"></script>
	</body>
</html>
